import_layer/src/main/resources/xsd/sra1.3/SRA.analysis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- INSDC Sequence Read Archive resource Analysis (SRZ/ERZ/DRZ) object XML specification -->
<!-- $Id: SRA.analysis.xsd,v 1.4 2011/09/21 14:40:44 rasko Exp $ -->
<xs:schema xmlns:com="SRA.common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="SRA.common" schemaLocation="SRA.common.xsd"/>

    <xs:complexType name="AnalysisFileType">

        <xs:attribute name="filename" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file name. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="filetype" use="required">
            <xs:annotation>
                <xs:documentation>The type of the file.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="tab">
                        <xs:annotation>
                            <xs:documentation> A tab delimited text file that can be viewed as a
                                spreadsheet. The first line should contain column headers.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="bam">
                        <xs:annotation>
                            <xs:documentation> Binary form of the Sequence alignment/map format
                                for read placements, from the SAM tools project. See
                                http://sourceforge.net/projects/samtools/ </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum_method" use="required">
            <xs:annotation>
                <xs:documentation> Checksum method used. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MD5">
                        <xs:annotation>
                            <xs:documentation> Checksum generated by the MD5 method (md5sum in
                                unix). </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation> Checksum of the file. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="AnalysisType">
        <xs:annotation>
            <xs:documentation> A SRA analysis object captures secondary analysis results from a
                sequence read dataset. This analysis can the results of short reads used in
                assembly, alignment, abundance instrumentation. The analysis can also be a list of
                reads, or a fasta file of trimmed reads associated with the experiment. The
                analysis can be technical data represented in a tab separated file (spreadsheet).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="TITLE" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Title of the analyis object which will be displayed in
                        database search results. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="DESCRIPTION" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Describes the analysis in detail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STUDY_REF">
                <xs:annotation>
                    <xs:documentation>Establishes a relationship between the analysis and the
                        parent study.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attributeGroup ref="com:RefNameGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="SAMPLE_REF" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>One of more samples associated with the
                        analysis.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SAMPLE_LABEL"
                            type="xs:string">
                            <xs:annotation>
                                <xs:documentation>A label associated with the sample for
                                    identification purposes. In BAM this is the read group label:
                                    @RG/ID.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="com:RefNameGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="RUN_REF" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>One or more runs associated with the
                        analysis.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="RUN_LABEL"
                            type="xs:string">
                            <xs:annotation>
                                <xs:documentation>A label associated with the run for
                                    identification purposes. In BAM this is the read group label:
                                    @RG/ID.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="com:RefNameGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="ANALYSIS_TYPE">
                <xs:annotation>
                    <xs:documentation>The type of the analysis. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="REFERENCE_ALIGNMENT">
                            <xs:annotation>
                                <xs:documentation>Sequence alignment against a reference.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>

                                <xs:sequence>
                                    <xs:element name="ASSEMBLY_REF" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Specifies the genome assembly used
                                                in the alignment. </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:choice>

                                                <xs:element name="STANDARD">
                                                  <xs:annotation>
                                                  <xs:documentation>A standard genome assembly.
                                                 </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:attribute name="refname" type="xs:string"
                                                  use="optional">
                                                  <xs:annotation>
                                                  <xs:documentation>A recognized name for the
                                                 genome assembly.</xs:documentation>
                                                  </xs:annotation>

                                                  </xs:attribute>
                                                  <xs:attribute name="accession" type="xs:token">
                                                  <xs:annotation>
                                                  <xs:documentation>Identifies the genome assembly
                                                 using an accession number and a sequence version.
                                                 </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                  </xs:complexType>
                                                </xs:element>
                                                <xs:element name="CUSTOM">
                                                  <xs:annotation>
                                                  <xs:documentation>Other genome
                                                 assembly.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="DESCRIPTION" type="xs:string"
                                                  minOccurs="0" maxOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation>Description of the genome
                                                 assembly.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element name="URL_LINK">
                                                  <xs:annotation>
                                                  <xs:documentation>A link to the genome
                                                 assembly.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:all>
                                                  <xs:element maxOccurs="1" minOccurs="0"
                                                  name="LABEL" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation> Text label to display for the
                                                 link. </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element maxOccurs="1" minOccurs="1" name="URL"
                                                  type="xs:anyURI">
                                                  <xs:annotation>
                                                  <xs:documentation> The internet service link
                                                 (file:, http:, ftp:, etc). </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  </xs:all>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                            </xs:choice>
                                        </xs:complexType>
                                    </xs:element>

                                    <xs:element name="SEQUENCE_REF" minOccurs="0"
                                        maxOccurs="unbounded">

                                        <xs:annotation>
                                            <xs:documentation>One or more reference sequences used
                                                in the alignment.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:annotation>
                                                <xs:documentation>Mapping between the reference
                                                 (sequence dictionary) labels used in the
                                                 alignment data file, and the reference sequences
                                                 in the Archive. The whole element is optional
                                                 when Sequences are referenced by
                                                 accession.version in submitted
                                                 data.</xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="SEQUENCE_LABEL" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>A label associated with the
                                                 sequence for identification purposes. In BAM this
                                                 is the reference sequence name:
                                                 @SQ/SN.</xs:documentation>
                                                  </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="refname" type="xs:string"
                                                use="optional">
                                                <xs:annotation>
                                                  <xs:documentation>A recognized name for the
                                                 reference sequence.</xs:documentation>
                                                </xs:annotation>

                                            </xs:attribute>
                                            <xs:attribute name="accession" type="xs:token">
                                                <xs:annotation>
                                                  <xs:documentation>Identifies the reference
                                                 sequence using an accession number and a sequence
                                                 version. </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="SEQUENCE_ANNOTATION">
                            <xs:annotation>
                                <xs:documentation>Annotated sequences. </xs:documentation>
                            </xs:annotation>
                            <xs:complexType> </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:sequence>
                <xs:element name="DATA_BLOCK" maxOccurs="1" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Files associated with the analysis.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="FILES">
                                <xs:annotation>
                                    <xs:documentation>Files associated with the
                                        analysis.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>

                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="1" name="FILE"
                                            type="AnalysisFileType"/>
                                    </xs:sequence>

                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_LINKS">
                <xs:annotation>
                    <xs:documentation> Links to resources related to this analysis.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element name="ANALYSIS_LINK" type="com:LinkType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_ATTRIBUTES">
                <xs:annotation>
                    <xs:documentation>Properties and attributes of an analysis. These can be
                        entered as free-form tag-value pairs.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element name="ANALYSIS_ATTRIBUTE" type="com:AttributeType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="com:NameGroup"/>
        <xs:attribute name="analysis_center" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>If applicable, the center name of the institution responsible
                    for this analysis. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="analysis_date" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation>The date when this analysis was produced. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="AnalysisSetType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="ANALYSIS" type="AnalysisType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ANALYSIS_SET" type="AnalysisSetType">
        <xs:annotation>
            <xs:documentation> An ANALYSIS_SET is a container of analysis objects with a shared
                namespace. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ANALYSIS" type="AnalysisType"/>
</xs:schema>
