import_layer/src/test/resources/sra_old/study.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- NCBI Short Read Archive resource Study (SRP) object XML specification -->
<!-- $Id: study.xsd 12602 2010-06-04 15:50:39Z brandizi $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="STUDY">
        <xs:annotation>
            <xs:documentation>
                A Study is a container for a sequencing investigation that may comprise multiple experiments.
                The Study has an overall goal, but is otherwise minimally defined in the SRA.
                A Study is composed of a descriptor, zero or more experiments, and zero or more analyses.
                The submitter may decorate the Study with web links and properties.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DESCRIPTOR" maxOccurs="1" minOccurs="1" nillable="false">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="STUDY_TITLE" maxOccurs="1" minOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
                                        Title of the study as would be used in a publication.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="STUDY_TYPE" maxOccurs="1" minOccurs="1" nillable="false">
                                <xs:annotation>
                                    <xs:documentation>The STUDY_TYPE presents a controlled vocabulary for expressing the
                                        overall purpose of the study.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="existing_study_type" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Whole Genome Sequencing">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Sequencing of a single organism.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Metagenomics">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Sequencing of a community.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Transcriptome Analysis">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Sequencing and characterization of transcription elements.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Resequencing">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Sequencing of a sample with respect to a reference.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Epigenetics">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Cellular differentiation study.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Synthetic Genomics">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Sequencing of modified, synthetic, or transplanted genomes.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Forensic or Paleo-genomics">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Sequencing of recovered genomic material.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Gene Regulation Study">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Study of gene expression regulation.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Cancer Genomics">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Study of cancer genomics.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Population Genomics">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Study of populations and evolution through genomics.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Other">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Study type not listed.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="new_study_type" use="optional" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>
                                                To propose a new term, select Other and enter a new study type.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="STUDY_ABSTRACT" maxOccurs="1" minOccurs="0" type="xs:string"
                                        nillable="true">
                                <xs:annotation>
                                    <xs:documentation>
                                        Briefly describes the goals, purpose, and scope of the Study. This need not be
                                        listed if it can be
                                        inherited from a referenced publication.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CENTER_NAME" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Controlled vocabulary identifying the sequencing center or laboratory.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CENTER_PROJECT_NAME" type="xs:string" minOccurs="1" maxOccurs="1"
                                        nillable="false">
                                <xs:annotation>
                                    <xs:documentation>
                                        Submitter defined project name. This should be meaningful to others in the
                                        submitter's lab or institution.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="PROJECT_ID" type="xs:nonNegativeInteger" maxOccurs="1" minOccurs="1"
                                        nillable="false">
                                <xs:annotation>
                                    <xs:documentation>
                                        The required PROJECT_ID accession is generated by the Genome Project database at
                                        NCBI
                                        and will be valid also at the other archival institutions. Enter 0 if the
                                        project id
                                        is unknown or not assigned.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="STUDY_DESCRIPTION" maxOccurs="1" minOccurs="0" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
                                        More extensive free-form description of the study.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>

                <xs:element name="STUDY_LINKS" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Links to resources related to this study (publication, datasets, online databases).
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="STUDY_LINK">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="URL_LINK">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="LABEL" type="xs:string" minOccurs="1"
                                                                maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                Text label to display for the link.
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="URL" minOccurs="1" maxOccurs="1" type="xs:anyURI">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                The internet service link (file:, http:, ftp:, etc).
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ENTREZ_LINK">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                Short name of the NCBI database resource (e.g. pubmed).
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                Accession to the record of interest in the NCBI Entrez
                                                                system.
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="STUDY_ATTRIBUTES" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Properties and attributes of the study. These can be entered as free-form
                            tag-value pairs. For certain studies, submitters may be asked to follow a
                            community established ontology when describing the work.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded" minOccurs="1">
                            <xs:element name="STUDY_ATTRIBUTE">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="TAG" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Name of the attribute.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Value of the attribute.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="UNITS" type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Optional scientific units.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="alias" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Submission name of the study. This field is only needed if the study
                        record does not yet have an accession and needs to be referenced by other objects.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="accession" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        The accession is used for certain update operations.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
