import_layer/src/test/resources/sra_old/submission.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- NCBI Short Read Archive resource Submission (SRA) object XML specification -->
<!-- $Id: submission.xsd 12602 2010-06-04 15:50:39Z brandizi $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SUBMISSION">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="CONTACTS">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="CONTACT">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Name of contact person for this submission.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="inform_on_status" type="xs:anyURI" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Internet address of person or service to inform on any status changes
                                                for this submission.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="inform_on_error" type="xs:anyURI" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Internet address of person or service to inform on any errors for this
                                                submission.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="ACTIONS">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="ACTION">
                                <xs:annotation>
                                    <xs:documentation>
                                        Select an action to execute with respect to this submission session.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="ADD">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Add a study, experiment, sample, run, or analysis to the submission
                                                    session.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="source" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Filename or relative path of filename containing XML that
                                                            defines the action.
                                                            This will include study, experiment, sample, run, or
                                                            analysis files. Note that the
                                                            run data files are named within the run XML and not in this
                                                            file.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="schema" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Select a source type (schema) for the file.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="study"/>
                                                            <xs:enumeration value="experiment"/>
                                                            <xs:enumeration value="sample"/>
                                                            <xs:enumeration value="run"/>
                                                            <xs:enumeration value="analysis"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="notes" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Optional submitter notes about the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MODIFY">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Modify a study, experiment, sample, or analysis object that was
                                                    submitted under this submission session.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="source" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Modify SRA metadata: a study, experiment, sample, run, or
                                                            analysis object that was
                                                            submitted under this submission session. Submit ammended XML
                                                            for an existing
                                                            accession. Note that the run data itself cannot be amended.
                                                            To to that,
                                                            withdraw the existing Run for the specified Experiment and
                                                            add a new Run in its place.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="target" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Accession or refname that is the target for the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="notes" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Optional submitter notes about the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="CURATE">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Curate (add, modify) metadata (not run data). This message
                                                    originates from NCBI.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="source" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Modify SRA metadata: a study, experiment, sample, run
                                                            ancillary data, or analysis
                                                            ancillary data that was submitted under this submission
                                                            session.
                                                            Submit ammended XML for an existing
                                                            accession. Note that the run data or analysis data cannot be
                                                            curated.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="target" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Accession or refname that is the target for the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="notes" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Description of the changes.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="WITHDRAW">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Withdraw from the archive a study, experiment, sample, run, or
                                                    analysis object that was
                                                    submitted under this submission session. Note that withdrawing a
                                                    parent object
                                                    (a study, experiment, run, or analysis object) will also withdraw
                                                    its children.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="target" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Accession or refname that is the target for the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="notes" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Optional submitter notes about the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="HOLD">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Hold content from public view for any study, experiment, sample,
                                                    run, or analysis object that was
                                                    submitted under this submission session.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="target" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Accession or refname that is the target for the action.
                                                            If a target is not specified, then the hold is taken to
                                                            include all objects referenced by this submission.
                                                            If a modifier is not specified, then the hold is taken to
                                                            mean
                                                            hold until released by the submitter.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="HoldForPeriod" type="xs:int" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Direct the SRA to release the record after the specified
                                                            number of days have elapsed since submission.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="HoldUntilDate" type="xs:date" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Direct the SRA to release the record on or after the
                                                            specified number of date.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="HoldUntilPublication" type="xs:string"
                                                              use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Direct the SRA to release the record once the study has been
                                                            published in the specified journal.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="notes" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Optional submitter notes about the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="RELEASE">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Release content to public view and indexing for any study,
                                                    experiment, sample, run, or analysis object that was
                                                    submitted under this submission session.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="target" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Accession or refname that is the target for the action.
                                                            If this field is not provided, then validate all objects in
                                                            this submission.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="notes" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Optional submitter notes about the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="CLOSE">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Communicate the intention to no longer actively update the dataset
                                                    referred to by
                                                    this submission. Users should be able to confidently use closed
                                                    datasets without
                                                    fear of change.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="target" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Accession or refname that is the target for the action.
                                                            Refer to the study to close the study and all its component
                                                            objects.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="notes" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Optional submitter notes about the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="VALIDATE">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Process the submission but do not archive anything or issue valid
                                                    accessions for any object.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="source" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Filename or relative path of filename containing XML to
                                                            validate.
                                                            If this field is not provided, then validate all XML files
                                                            in this submission.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="schema" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Select a source type (schema) for the file.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="study"/>
                                                            <xs:enumeration value="experiment"/>
                                                            <xs:enumeration value="sample"/>
                                                            <xs:enumeration value="run"/>
                                                            <xs:enumeration value="analysis"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="notes" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Optional submitter notes about the action.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="requestor" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Identity of the person or process who initiated this action. This may differ
                                    from the person or institution that created the overall submission
                                    record, particularly for actions that may take place after the initial
                                    submission.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="request_date" type="xs:dateTime" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Date of the requested action. This may differ from the submission date
                                    for actions that may take place after the initial submission.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>

                <xs:element name="FILES">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="FILE">
                                <xs:complexType>
                                    <xs:attribute name="filename" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Filename or relative path and name of the xml or data file.
                                                File may be compressed by any conventional compression utility,
                                                it is not necessary to provide the exact post-compressed filename.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="checksum_method" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Checksum method used.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="MD5">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Checksum generated by the MD5 method (cksum in unix).
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="checksum" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Checksum of uncompressed file.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="EXCEPTIONS" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="EXCEPTION">
                                <xs:annotation>
                                    <xs:documentation>
                                        Output parameters indicating semantic exception that prevents submission from
                                        being
                                        accepted. Note that these exceptions are additional to any XML validation
                                        exceptions
                                        thrown from invalidly constructed XML grammar. Do not supply any exception
                                        records
                                        on input.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="exception_type">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Type of exception that was generated by the supplied data.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Submission failure.">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            A problem with this file prevented the submission from being
                                                            successfully processed.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration
                                                        value="File not found, was empty, or could not be read.">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            A file identified by the submitter could not be accessed.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="File checksum failed.">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            A file identified by the submitter did not generate the
                                                            specified checksum.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Unidentified accession.">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            The accession named in a submitter action (Modify, Delete,
                                                            Hold, Release) does not exist.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Invalid accession.">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            The accession named in a submitter action (Modify, Delete,
                                                            Hold, Release) exists, but the
                                                            submitter does not have permission to carry it out. Please
                                                            check that the correct
                                                            accession is being named, that the accession is associated
                                                            with this submission session,
                                                            and that the handle being provided is the correct one.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Invalid action.">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            The action specified by the user cannot be carried out.
                                                            Please check that the
                                                            accessions exist (Modify, Delete, Hold, Release), or that
                                                            blank accession is provided
                                                            (Add).
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Error in submission object.">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            The action being carried out on the specified submission xml
                                                            object (study, experiment, sample,
                                                            run, analysis) failed because of a problem with that xml.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Operational error.">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            An error occurred on NCBI side. NCBI is aware of this error
                                                            and will address it
                                                            as soon as possible. No action is required by submitter.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="exception_message" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Message associated with the exception.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:attribute name="accession" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Public SRA accession assigned upon submission which appears in messages and
                        tracking. This value needs to be supplied with any future
                        directives concerning this SRA submission object. Omit for new submissions.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="handle" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Unique private key, or handle, to be returned to the submitter on the creation
                        of a new SRA object. This value needs to be supplied when making later additions or
                        modifications to an SRA session. Omit for new submissions.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="submission_id" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Submitter assigned name or id for the SRA submission object.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="submission_date" type="xs:dateTime" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Submitter assigned preparation date of this submission object.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="submission_comment" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Submitter assigned comment for the SRA submission object.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="center_name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Center or institution name of submitter. The center name (or institution name)
                        is a controlled vocabulary that changes too quickly to obtain from the XML schema.
                        Please consult the NCBI SRA web site for latest information.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="lab_name" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Laboratory name within submitting institution.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

        </xs:complexType>
    </xs:element>
</xs:schema>
