import_layer/src/main/resources/xsd/sra1.4/SRA.analysis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- INSDC Sequence Read Archive resource Analysis (SRZ/ERZ/DRZ) object XML specification -->
<!-- $Id: SRA.analysis.xsd,v 1.2 2012/06/22 09:25:19 rasko Exp $ -->
<xs:schema xmlns:com="SRA.common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="SRA.common" schemaLocation="SRA.common.xsd"/>

    <xs:complexType name="AnalysisFileType">

        <xs:sequence>
            <xs:element minOccurs="0" name="CHECKLIST">
                <xs:complexType>
                    <xs:attributeGroup ref="com:NameGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="filename" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file name. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="filetype" use="required">
            <xs:annotation>
                <xs:documentation>The type of the file.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="tab">
                        <xs:annotation>
                            <xs:documentation> A tab delimited text file that can be viewed as a
                                spreadsheet. The first line should contain column headers.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="bam">
                        <xs:annotation>
                            <xs:documentation> Binary form of the Sequence alignment/map format
                                for read placements, from the SAM tools project. See
                                http://sourceforge.net/projects/samtools/ </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="bai">
                        <xs:annotation>
                            <xs:documentation> Index sorted alignment for fast random  access.See
                                http://sourceforge.net/projects/samtools/ </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="vcf"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum_method" use="required">
            <xs:annotation>
                <xs:documentation> Checksum method used. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MD5">
                        <xs:annotation>
                            <xs:documentation> Checksum generated by the MD5 method (md5sum in
                                unix). </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation> Checksum of the file. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unencrypted_checksum" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                                                            Checksum of unenrypted file(used in conjunction with checksum of encrypted file).
                                                        </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="AnalysisType">
        <xs:annotation>
            <xs:documentation>A SRA analysis object captures sequence analysis results including sequence alignments, sequence variations and sequence annotations.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS" type="com:IdentifierType"> </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="TITLE" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Title of the analyis object which will be displayed in
                        database search results. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="DESCRIPTION" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Describes the analysis in detail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STUDY_REF">
                <xs:annotation>
                    <xs:documentation>Establishes a relationship between the analysis and the
                        parent study.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS"
                            type="com:IdentifierType"> </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="com:RefNameGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="SAMPLE_REF" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>One of more samples associated with the
                        analysis.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS"
                            type="com:IdentifierType"> </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="com:RefNameGroup"/>
                    <xs:attribute name="label" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>A label associating the sample with BAM (@RG/ID or @RG/SM) or VCF file samples.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="RUN_REF" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>One or more runs associated with the
                        analysis.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS"
                            type="com:IdentifierType"> </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="com:RefNameGroup"/>
                    <xs:attribute name="label" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>A label associating the run with BAM (@RG/ID).</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="ANALYSIS_TYPE">
                <xs:annotation>
                    <xs:documentation>The type of the analysis. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="REFERENCE_ALIGNMENT" type="com:ReferenceSequenceType">
                            <xs:annotation>
                                <xs:documentation/>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="SEQUENCE_VARIATION" type="com:ReferenceSequenceType"> </xs:element>
                        <xs:element name="SEQUENCE_ANNOTATION">
                            <xs:annotation>
                                <xs:documentation>Annotated sequences. </xs:documentation>
                            </xs:annotation>
                            <xs:complexType> </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:sequence>
                <xs:element name="FILES">
                    <xs:annotation>
                        <xs:documentation>Files associated with the
                                        analysis.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>

                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="FILE"
                                type="AnalysisFileType"/>
                        </xs:sequence>

                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_LINKS">
                <xs:annotation>
                    <xs:documentation> Links to resources related to this analysis.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element name="ANALYSIS_LINK" type="com:LinkType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_ATTRIBUTES">
                <xs:annotation>
                    <xs:documentation>Properties and attributes of an analysis. These can be
                        entered as free-form tag-value pairs.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element name="ANALYSIS_ATTRIBUTE" type="com:AttributeType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="com:NameGroup"/>
        <xs:attribute name="analysis_center" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>If applicable, the center name of the institution responsible
                    for this analysis. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="analysis_date" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation>The date when this analysis was produced. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="AnalysisSetType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="ANALYSIS" type="AnalysisType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ANALYSIS_SET" type="AnalysisSetType">
        <xs:annotation>
            <xs:documentation>A container of analysis objects. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ANALYSIS" type="AnalysisType"/>
</xs:schema>
