import_layer/src/main/resources/xsd/sra1.4/SRA.experiment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- INSDC Sequence Read Archive resource Experiment (SRX/ERX/DRX) object XML specification -->
<!-- $Id: SRA.experiment.xsd,v 1.3 2012/06/22 09:19:38 rasko Exp $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common">
    <xs:import schemaLocation="SRA.common.xsd" namespace="SRA.common"/>

    <xs:complexType name="ExperimentType">

        <xs:annotation>
            <xs:documentation>
                  An Experiment specifies of what will be sequenced and how the sequencing will be performed.  
                  It does not contain results.  
                  An Experiment is composed of a design, a platform selection, and processing parameters.
                </xs:documentation>
        </xs:annotation>

        <xs:sequence>

            <xs:element name="IDENTIFIERS" type="com:IdentifierType" maxOccurs="1" minOccurs="0"> </xs:element>
            <xs:element name="TITLE" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Short text that can be used to call out experiment records in searches or in displays.
                        This element is technically optional but should be used for all new records.
                      </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STUDY_REF" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The STUDY_REF descriptor establishes the relationship of the experiment to the parent
                        study.  This can either be the accession of an existing archived study record, or
                        a reference to a new study record in the same submission (which does not yet have an
                        accession).
                      </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IDENTIFIERS" type="com:IdentifierType" maxOccurs="1"
                            minOccurs="0"> </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="com:RefNameGroup"/>

                </xs:complexType>
            </xs:element>
            <xs:element name="DESIGN" type="com:LibraryType" maxOccurs="1" minOccurs="1"> </xs:element>

            <xs:element name="PLATFORM" type="com:PlatformType" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                      The PLATFORM record selects which sequencing platform and platform-specific runtime parameters.  
                      This will be determined by the Center.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="PROCESSING" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BASE_CALLS" maxOccurs="1" minOccurs="0">
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:documentation>
                                            DEPRECATED.  THis is instead a static property of the platform.  Basecalling software and version will be called out in
                                            new branch PIPELINE.
                                        </xs:documentation>
                                </xs:annotation>
                                <xs:all>
                                    <xs:element name="SEQUENCE_SPACE">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Base Space"/>
                                                <xs:enumeration value="Color Space"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="BASE_CALLER" maxOccurs="1" minOccurs="1"
                                        type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>
                                                    Name and version of the base or color calling software.
                                                </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="QUALITY_SCORES" maxOccurs="unbounded" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                        DEPRECATED.  THis is instead a  property of the run to load.  Basecalling software and version will be called out in
                                        new branch PIPELINE.
                                    </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="QUALITY_SCORER" maxOccurs="1" minOccurs="1"
                                        type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>
                                                    Name and version of the quality scoring software.
                                                </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="NUMBER_OF_LEVELS" maxOccurs="1" minOccurs="0"
                                        type="xs:int">
                                        <xs:annotation>
                                            <xs:documentation>
                                                    DEPRECATED.  Number of distinct values possible with this scoring system.
                                                </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="MULTIPLIER" maxOccurs="1" minOccurs="0"
                                        type="xs:double">
                                        <xs:annotation>
                                            <xs:documentation>
                                                    DEPRECATED.
                                                </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="qtype" use="optional">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="phred">
                                                <xs:annotation>
                                                  <xs:documentation>
                                                            The quality score is expressed as a probability of error in log form:
                                                            -10 log(1/p) where p is the probability of error, with value range 0..63,
                                                            0 meaning no base call.
                                                        </xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="other">
                                                <xs:annotation>
                                                  <xs:documentation>
                                                            Another quality scoring system is used.  Please contact NCBI with details so that correct conversion can take place.
                                                        </xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="PIPELINE" type="com:PipelineType" minOccurs="0"
                            maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                        Generic processing pipeline specification.
                                    </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="DIRECTIVES" type="com:SequencingDirectivesType"
                            minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                        Processing directives tell the Sequence Read Archive how to treat the input data, if any treatment is requested.
                                    </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="EXPERIMENT_LINKS" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
			  Links to resources related to this experiment or experiment set (publication, datasets, online databases).
		      </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence minOccurs="1" maxOccurs="unbounded">
                        <xs:element name="EXPERIMENT_LINK" type="com:LinkType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="EXPERIMENT_ATTRIBUTES" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                       Properties and attributes of the experiment.  These can be entered as free-form 
                       tag-value pairs. 
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element name="EXPERIMENT_ATTRIBUTE" type="com:AttributeType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="com:NameGroup"/>

        <xs:attribute name="expected_number_runs" use="optional" type="xs:positiveInteger">
            <xs:annotation>
                <xs:documentation>
                     Number of runs expected to be submitted  for this experiment. 
                  </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expected_number_spots" use="optional" type="xs:positiveInteger">
            <xs:annotation>
                <xs:documentation>
                       DEPRECATED. Number of spots expected to be submitted  for this experiment. 
                     </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expected_number_reads" use="optional" type="xs:positiveInteger">
            <xs:annotation>
                <xs:documentation>
                      DEPRECATED. Number of reads expected to be submitted  for this experiment. 
                    </xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>

    <xs:complexType name="ExperimentSetType">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="EXPERIMENT" type="ExperimentType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="EXPERIMENT_SET" type="ExperimentSetType">
        <xs:annotation>
            <xs:documentation>
      An EXPERMENT_SET is a container for a set of experiments and a common namespace.
    </xs:documentation>
        </xs:annotation>

    </xs:element>

    <xs:element name="EXPERIMENT" type="ExperimentType"/>

</xs:schema>
