import_layer/src/main/resources/xsd/sra1.2/SRA.common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- INSDC Sequence Read Archive resource Common object XML specification -->
<!-- $Id: SRA.common.xsd,v 1.1 2010/10/22 15:31:26 rasko Exp $ -->
<xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common" targetNamespace="SRA.common">

    <xsd:attributeGroup name="NameGroup">
        <xsd:attribute name="alias" type="xs:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Submitter designated name of the SRA document of this type.  At minimum alias should
                    be unique throughout the submission of this document type.  If center_name is specified, the name should
                    be unique in all submissions from that center of this document type.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="center_name" type="xs:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Owner authority of this document and namespace for submitter's name of this document. 
                    If not provided, then the submitter is regarded as "Individual" and document resolution
                    can only happen within the submission.
                </xsd:documentation>
            </xsd:annotation>  
        </xsd:attribute>
        <xsd:attribute name="broker_name" type="xs:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Broker authority of this document.  If not provided, then the broker is considered "direct".
                </xsd:documentation>
            </xsd:annotation>  
        </xsd:attribute>
        <xsd:attribute name="accession" type="xs:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    The document's accession as assigned by the Home Archive.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="RefNameGroup">
        <xsd:attribute name="refname" type="xs:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Identifies a record by name that is known within the namespace defined by attribute "refcenter"
                    Use this field when referencing an object for which an accession has not yet been issued.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="refcenter" type="xs:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    The center namespace of the attribute "refname". When absent, the namespace is assumed to be the current submission.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="accession" type="xs:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Identifies a record by its accession.  The scope of resolution is the entire Archive.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>
    
        <xsd:complexType name="XRefType">
            <xsd:all>
                <xsd:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">                                                    
                    <xsd:annotation>
                        <xsd:documentation>
                            INSDC controlled vocabulary of permitted cross references.  Please see http://www.insdc.org/page.php?page=db_xref .
                            For example, FLYBASE.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ID" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Accession in the referenced database.    For example,  FBtr0080008 (in FLYBASE).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1">                                                    
                    <xsd:annotation>
                        <xsd:documentation>
                            Text label to display for the link.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    

    <xsd:complexType name="AttributeType">
        <xsd:annotation>
            <xsd:documentation>
                Reusable attributes to encode tag-value pairs with optional units.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="TAG" type="xs:string" minOccurs="1" maxOccurs="1">                                                    
                <xsd:annotation>
                    <xsd:documentation>
                        Name of the attribute.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Value of the attribute.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UNITS" type="xs:string" minOccurs="0" maxOccurs="1">          
                <xsd:annotation>
                    <xsd:documentation>
                        Optional scientific units.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="SraLinkType">
        <xsd:annotation>
            <xsd:documentation>
                The SraLinkType mechanism encodes local references between SRA objects.  These 
                references are local to the Home Archive and during archival are resolved to
                exportable references suitable for mirroring between Archives.  SraLinks can be used
                as temporary place holders for pre-published or post-suppressed relationships that
                will not be mirrored between Archives.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="sra_object_type" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    SRA link type.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="STUDY"/>
                    <xsd:enumeration value="SAMPLE"/>
                    <xsd:enumeration value="ANALYSIS"/>
                    <xsd:enumeration value="EXPERIMENT"/>
                    <xsd:enumeration value="RUN"/>            
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attributeGroup ref="com:RefNameGroup"/>        
    </xsd:complexType>

    <xsd:complexType name="LinkType">
        <xsd:annotation>
            <xsd:documentation>
                Reusable external links type to encode URL links, Entrez links, and db_xref links.
            </xsd:documentation>
        </xsd:annotation>
    <xsd:choice>                   
      <xsd:element name="SRA_LINK" type="com:SraLinkType"/>
      <xsd:element name="URL_LINK">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="LABEL" type="xs:string" minOccurs="1" maxOccurs="1">                                                    
                            <xsd:annotation>
                                <xsd:documentation>
                                    Text label to display for the link.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="URL" minOccurs="1" maxOccurs="1" type="xs:anyURI">
                            <xsd:annotation>
                                <xsd:documentation>
                                    The internet service link (file:, http:, ftp:, etc).
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
      </xsd:element>
      <xsd:element name="XREF_LINK" type="com:XRefType"/>
                
      <xsd:element name="ENTREZ_LINK">
        <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    NCBI controlled vocabulary of permitted cross references.  Please see http://www.ncbi.nlm.nih.gov/entrez/eutils/einfo.fcgi? .
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:choice>
                            <xsd:element name="ID" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Numeric record id meaningful to the NCBI Entrez system.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="QUERY" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Accession string meaningful to the NCBI Entrez system.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:choice>
                        <xsd:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    How to label the link.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        <xsd:element name="DDBJ_LINK">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>DDBJ controlled vocabulary of permitted cross references.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ID" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xsd:annotation>
                            <xsd:documentation>Accession in the referenced database.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="URL" minOccurs="0" maxOccurs="1" type="xs:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>An URL to the cross-references accession.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>A textual description of the cross-reference.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>        
 
        <xsd:element name="ENA_LINK">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                EBI ENA controlled vocabulary of permitted
                                cross references.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ID" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xsd:annotation>
                            <xsd:documentation> Accession in the referenced
                                database.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="URL" minOccurs="0" maxOccurs="1" type="xs:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>An URL to the cross-references accession.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>A textual description of the cross-reference.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            </xsd:element>

    </xsd:choice>
    </xsd:complexType>
    

    <xsd:complexType name="SpotDescriptorType">
            <xsd:annotation>
                <xsd:documentation>
                    The SPOT_DESCRIPTOR specifies how to decode the individual reads of interest from the 
                    monolithic spot sequence.  The spot descriptor contains aspects of the experimental design, 
                    platform, and processing information.  There will be two methods of specification: one 
                    will be an index into a table of typical decodings, the other being an exact specification.                                      
                </xsd:documentation>
            </xsd:annotation>
            <xsd:choice>
                <xsd:element name="SPOT_DECODE_METHOD" type="xs:unsignedInt" >
                    <xsd:annotation>
                        <xsd:documentation>
                            DEPRECATED.                                    
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SPOT_DECODE_SPEC" >
                    <xsd:complexType   >
                        <xsd:sequence>
                            <xsd:element name="NUMBER_OF_READS_PER_SPOT" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" >
                                <xsd:annotation>
                                    <xsd:documentation>
                                        DEPRECATED.  Number of tags (reads) per spot.
                                    </xsd:documentation>
                                </xsd:annotation>                                                   
                            </xsd:element>
                            <xsd:element name="SPOT_LENGTH" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" >
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Expected number of base calls or cycles per spot (raw sequence length including all application and technical tags and mate pairs)
                                    </xsd:documentation>
                                </xsd:annotation>                                                    
                            </xsd:element>
                            <xsd:element name="ADAPTER_SPEC" maxOccurs="1" minOccurs="0" nillable="false" type="xs:string">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Some technologies will require knowledge of the sequencing adapter or the last base of the adapter in order to decode the spot.
                                    </xsd:documentation>
                                </xsd:annotation>   
                            </xsd:element>
                            <xsd:element name="READ_SPEC" minOccurs="1" maxOccurs="unbounded" >
                                <xsd:complexType>                              
                                    <xsd:sequence>
                                        <xsd:element name="READ_INDEX" type="xs:nonNegativeInteger" nillable="false">
                                            <xsd:annotation>
                                                <xsd:documentation>READ_INDEX starts at 0 and is incrementally increased for each sequential READ_SPEC within a SPOT_DECODE_SPEC</xsd:documentation>
                                            </xsd:annotation> 
                                        </xsd:element>
                                        <xsd:element name="READ_LABEL" type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>READ_LABEL is a name for this tag, and can be used to on output to determine read name, for example F or R.</xsd:documentation>
                                            </xsd:annotation> 
                                        </xsd:element>                                  
                                        <xsd:element name="READ_CLASS" >
                                            <xsd:simpleType>
                                                <xsd:restriction base = "xsd:string">
                                                    <xsd:enumeration value = "Application Read"/>
                                                    <xsd:enumeration value = "Technical Read"/>
                                                </xsd:restriction>                                   
                                            </xsd:simpleType>   
                                        </xsd:element>
                                        <xsd:element name="READ_TYPE"  default="Forward">
                                            <xsd:simpleType>
                                                <xsd:restriction base = "xsd:string">
                                                    <xsd:enumeration value = "Forward"/>
                                                    <xsd:enumeration value = "Reverse"/>
                                                    <xsd:enumeration value = "Adapter"/>                                   
                                                    <xsd:enumeration value = "Primer"/>
                                                    <xsd:enumeration value = "Linker"/>
                                                    <xsd:enumeration value = "BarCode"/>                                   
                                                    <xsd:enumeration value = "Other"/>
                                                </xsd:restriction>                                   
                                            </xsd:simpleType>   
                                        </xsd:element>
 
                                        <xsd:choice>
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    There are various methods to ordering the reads on the spot.
                                                </xsd:documentation>
                                            </xsd:annotation>   
                                            <xsd:element name="RELATIVE_ORDER" >
                                                <xsd:annotation>
                                                    <xsd:documentation>
                                                        The read is located beginning at the offset or cycle relative to another read.  
                                                        This choice is appropriate for example when specifying a read
                                                        that follows a variable length expected sequence(s).
                                                    </xsd:documentation>
                                                </xsd:annotation>  
                                                <xsd:complexType>
                                                    <xsd:attribute name="follows_read_index" type="xs:nonNegativeInteger" use="optional">
                                                        <xsd:annotation>
                                                            <xsd:documentation>
                                                                Specify the read index that precedes this read.
                                                            </xsd:documentation>
                                                        </xsd:annotation>  
                                                    </xsd:attribute>
                                                    <xsd:attribute name="precedes_read_index" type="xs:nonNegativeInteger" use="optional">
                                                        <xsd:annotation>
                                                            <xsd:documentation>
                                                                Specify the read index that follows this read.
                                                            </xsd:documentation>
                                                        </xsd:annotation>  
                                                    </xsd:attribute>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="BASE_COORD" type="xs:integer" >
                                                <xsd:annotation>
                                                    <xsd:documentation>
                                                        The location of the read start in terms of base count (1 is beginning of spot).
                                                    </xsd:documentation>
                                                </xsd:annotation>   
                                            </xsd:element>
                                            <xsd:element name="CYCLE_COORD" type="xs:integer" >
                                                <xsd:annotation>
                                                    <xsd:documentation>
                                                        The location of the read start in terms of cycle count (1 is beginning of spot).
                                                    </xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            
                                            <xsd:element name="EXPECTED_BASECALL" >
                                                <xsd:annotation>
                                                    <xsd:documentation>
                                                        An expected basecall for a current read. Read will be zero-length if basecall is not present.
                                                        Users of this facility should start migrating to EXPECTED_BASECALL_TABLE, as this field
                                                        will be phased out.
                                                    </xsd:documentation>
                                                </xsd:annotation> 
                                                <xsd:complexType>
                                                    <xsd:simpleContent>
                                                        <xsd:extension base="xsd:string">
                                                            <xsd:attribute name="default_length" type="xs:nonNegativeInteger" use="optional">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>
                                                                        Specify whether the spot should have a default length for this tag if the expected base cannot be matched.
                                                                    </xsd:documentation>
                                                                </xsd:annotation>  
                                                            </xsd:attribute>
                                                            <xsd:attribute name="base_coord" type="xs:nonNegativeInteger" use="optional">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>
                                                                        Specify an optional starting point for tag (base offset from 1).  
                                                                    </xsd:documentation>
                                                                </xsd:annotation>  
                                                            </xsd:attribute>
                                                        </xsd:extension>
                                                    </xsd:simpleContent>
                                                </xsd:complexType>                                               
                                            </xsd:element>
                                            <xsd:element name="EXPECTED_BASECALL_TABLE">
                                                <xsd:annotation>
                                                    <xsd:documentation>
                                                        A set of choices of expected basecalls for a current read. Read will be zero-length if none is found.
                                                    </xsd:documentation>
                                                </xsd:annotation> 
                                                <xsd:complexType>
                                                    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                                                        <xsd:element name="BASECALL">
                                                            <xsd:annotation>
                                                                <xsd:documentation>
                                                                    Element's body contains a basecall, attribute provide description of this read meaning as well as matching rules.
                                                                </xsd:documentation>
                                                            </xsd:annotation> 
                                                            <xsd:complexType>
                                                                <xsd:simpleContent>
                                                                    <xsd:extension base  ="xsd:string">
                                                                        <xsd:attribute name="read_group_tag" type="xs:string" use="optional">
                                                                            <xsd:annotation>
                                                                                <xsd:documentation>
                                                                                    When match occurs, the read will be tagged with this group membership
                                                                                </xsd:documentation>
                                                                            </xsd:annotation>                                                                                          
                                                                        </xsd:attribute>
                                                                        <xsd:attribute name="min_match" type="xs:nonNegativeInteger" use="optional">
                                                                            <xsd:annotation>
                                                                                <xsd:documentation>
                                                                                    Minimum number of matches to trigger identification.
                                                                                </xsd:documentation>
                                                                            </xsd:annotation>                                                                                          
                                                                        </xsd:attribute>
                                                                        <xsd:attribute name="max_mismatch" type="xs:nonNegativeInteger" use="optional">
                                                                            <xsd:annotation>
                                                                                <xsd:documentation>
                                                                                    Maximum number of mismatches 
                                                                                </xsd:documentation>
                                                                            </xsd:annotation>                                                                                          
                                                                        </xsd:attribute>                                                                                              
                                                                        <xsd:attribute name="match_edge">
                                                                            <xsd:annotation>
                                                                                <xsd:documentation>
                                                                                    Where the match should occur. Changes the rules on how min_match and max_mismatch are counted.                                                                                                          
                                                                                </xsd:documentation>
                                                                            </xsd:annotation>                              
                                                                            <xsd:simpleType>
                                                                                <xsd:restriction base="xsd:string">
                                                                                    <xsd:enumeration value="full">
                                                                                        <xsd:annotation>
                                                                                            <xsd:documentation>
                                                                                                Only @max_mismatch influences matching process                                                                                                          
                                                                                            </xsd:documentation>
                                                                                        </xsd:annotation>
                                                                                    </xsd:enumeration>
                                                                                    <xsd:enumeration value="start">
                                                                                        <xsd:annotation>
                                                                                            <xsd:documentation>
                                                                                                Both matches and mismatches are counted. 
                                                                                                When @max_mismatch is exceeded - it is not a match.
                                                                                                When @min_match is reached - match is declared.                                                                                                                                                                                                                           
                                                                                            </xsd:documentation>
                                                                                        </xsd:annotation>                                                                                                              
                                                                                    </xsd:enumeration>
                                                                                    <xsd:enumeration value="end">
                                                                                        <xsd:annotation>
                                                                                            <xsd:documentation>
                                                                                                Both matches and mismatches are counted. 
                                                                                                When @max_mismatch is exceeded - it is not a match.
                                                                                                When @min_match is reached - match is declared.                                                                                                                                                                                                                           
                                                                                            </xsd:documentation>
                                                                                        </xsd:annotation>                                                                                                                      
                                                                                    </xsd:enumeration>
                                                                                </xsd:restriction>
                                                                            </xsd:simpleType>
                                                                        </xsd:attribute>                                                                                                                                                                                            
                                                                    </xsd:extension>                                                                                          
                                                                </xsd:simpleContent>                                                                                                                                                                                                                                                                                                                                                   
                                                            </xsd:complexType>                                                                                                                                                                   
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                    <xsd:attribute name="default_length" type="xs:nonNegativeInteger" use="optional">
                                                        <xsd:annotation>
                                                            <xsd:documentation>
                                                                Specify whether the spot should have a default length for this tag if the expected base cannot be matched.
                                                            </xsd:documentation>
                                                        </xsd:annotation>  
                                                    </xsd:attribute>
                                                    <xsd:attribute name="base_coord" type="xs:nonNegativeInteger" use="optional">
                                                        <xsd:annotation>
                                                            <xsd:documentation>
                                                                Specify an optional starting point for tag (base offset from 1).  
                                                            </xsd:documentation>
                                                        </xsd:annotation>  
                                                    </xsd:attribute>
                                                </xsd:complexType>                                                                      
                                            </xsd:element>
                                        </xsd:choice>
                                        
                                        
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
            
        </xsd:complexType>  

    <xsd:complexType name="PlatformType">
            <xsd:annotation>
                <xsd:documentation>
                    The PLATFORM record selects which sequencing platform and platform-specific runtime parameters.  
                    This will be determined by the Center.
                </xsd:documentation>
            </xsd:annotation>  
            <xsd:choice>
                <xsd:element name="LS454">
                    <xsd:annotation>
                        <xsd:documentation>
                            454 technology use 1-color sequential flows 
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1">
                                <xsd:simpleType>
                                    <xsd:restriction base = "xsd:string">
                                        <xsd:enumeration value="454 GS"/>
                                        <xsd:enumeration value="454 GS 20"/>
                                        <xsd:enumeration value="454 GS FLX"/>
                                        <xsd:enumeration value="454 GS FLX Titanium"/>
                                        <xsd:enumeration value="454 GS Junior"/>
                                        <xsd:enumeration value="454 Titanium">
                                            <xsd:annotation><xsd:documentation>DEPRECATED.  Use 454 GS FLX Titanium instead</xsd:documentation></xsd:annotation></xsd:enumeration>
                                        <xsd:enumeration value = "GS 20">
                                            <xsd:annotation><xsd:documentation>DEPRECATED</xsd:documentation></xsd:annotation></xsd:enumeration>
                                        <xsd:enumeration value = "GS FLX">
                                            <xsd:annotation><xsd:documentation>DEPRECATED</xsd:documentation></xsd:annotation></xsd:enumeration>
                                        <xsd:enumeration value = "unspecified"/>                   
                                    </xsd:restriction>                                   
                                </xsd:simpleType>  
                            </xsd:element>
                            <xsd:element name="KEY_SEQUENCE" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        The first bases that are expected to be produced by the challenge bases.  
                                        This is optional in the schema now but will be required by business rules and future schema versions.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="FLOW_SEQUENCE" type="xs:string"  minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        The fixed sequence of challenge bases that flow across the picotiter plate.  
                                        This is optional in the schema now but will be required by business rules and future schema versions.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="FLOW_COUNT" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        The number of flows of challenge bases.  This is a constraint on maximum read length, but not equivalent.
                                        This is optional in the schema now but will be required by business rules and future schema versions.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ILLUMINA">
                    <xsd:annotation>
                        <xsd:documentation>
                            Illumina is 4-channel flowgram with 1-to-1 mapping between basecalls and flows
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1">
                                <xsd:simpleType>
                                    <xsd:restriction base = "xsd:string">
                                        <xsd:enumeration value="Solexa 1G Genome Analyzer">
                                            <xsd:annotation><xsd:documentation>DEPRECATED</xsd:documentation></xsd:annotation></xsd:enumeration>
                                        <xsd:enumeration value="Illumina Genome Analyzer"/>
                                        <xsd:enumeration value="Illumina Genome Analyzer II"/>
                                        <xsd:enumeration value="Illumina Genome Analyzer IIx"/>
                                        <xsd:enumeration value="Illumina HiSeq 2000"/>
                                        <xsd:enumeration value = "unspecified"/>                   
                                    </xsd:restriction>                                   
                                </xsd:simpleType>  
                            </xsd:element>
                            <xsd:element name="CYCLE_SEQUENCE" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        DEPRECATED.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="CYCLE_COUNT" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        DEPRECATED, use SEQUENCE_LENGTH instead.  The fixed number of bases  in each raw sequence, including both mate pairs and any technical reads.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="SEQUENCE_LENGTH" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        The fixed number of bases expected in each raw sequence, including both mate pairs and any technical reads.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="HELICOS">
                    <xsd:annotation>
                        <xsd:documentation>
                            Helicos is similar to 454 technology - uses 1-color sequential flows   
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1">
                                <xsd:simpleType>
                                    <xsd:restriction base = "xsd:string">
                                        <xsd:enumeration value="Helicos HeliScope"/>
                                        <xsd:enumeration value = "unspecified"/>                   
                                    </xsd:restriction>                                   
                                </xsd:simpleType>  
                            </xsd:element>
                            <xsd:element name="FLOW_SEQUENCE" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        The fixed sequence of challenge bases that flow across the flowcell. 
                                        This is optional in the schema now but will be required by business rules and future schema versions.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="FLOW_COUNT" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        The number of flows of challenge bases.  This is a constraint on maximum read length, but not equivalent. 
                                        This is optional in the schema now but will be required by business rules and future schema versions.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ABI_SOLID">
                    <xsd:annotation>
                        <xsd:documentation>
                            ABI is 4-channel flowgram with 1-to-1 mapping between basecalls and flows
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1">
                                <xsd:simpleType>
                                    <xsd:restriction base = "xsd:string">
                                        <xsd:enumeration value="AB SOLiD System"/>
                                        <xsd:enumeration value="AB SOLiD System 2.0"/>
                                        <xsd:enumeration value="AB SOLiD System 3.0"/>
                                        <xsd:enumeration value="AB SOLiD 4 System"/>
                                        <xsd:enumeration value="AB SOLiD 4hq System"/>
                                        <xsd:enumeration value="AB SOLiD PI System"/>
                                        <xsd:enumeration value = "unspecified"/>                   
                                    </xsd:restriction>                                   
                                </xsd:simpleType>  
                            </xsd:element>
                            <xsd:element name="COLOR_MATRIX"  minOccurs="0"  maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence >
                                        <xsd:element name="COLOR"  minOccurs="1" maxOccurs="unbounded">
                                            <xsd:complexType mixed="true">
                                                <xsd:simpleContent>
                                                    <xsd:extension base="xsd:string">
                                                        <xsd:attribute name="dibase" type="xs:string" />
                                                    </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="COLOR_MATRIX_CODE" type="xs:string" minOccurs="0" maxOccurs="1">
                            </xsd:element>
                            <xsd:element name="CYCLE_COUNT" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        DEPRECATED.  Use SEQUENCE_LENGTH instead.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="SEQUENCE_LENGTH" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        The fixed number of bases expected in each raw sequence, including both mate pairs and any technical reads.
                                        This is optional in the schema now but will be required by business rules and future schema versions.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="COMPLETE_GENOMICS">
                    <xsd:annotation>
                        <xsd:documentation>
                            Placeholder for CompleteGenomics platform type.   At present there is no instrument model.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>    
                        <xsd:sequence>
                        <xsd:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base = "xsd:string">
                                <xsd:enumeration value="none"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                        </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>

                </xsd:element>
             
                <xsd:element name="PACBIO_SMRT">
                    <xsd:annotation>
                        <xsd:documentation>
                            Placeholder for PacificBiosciences platform type.   At present there is no instrument model.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="0">
                                <xsd:simpleType>
                                    <xsd:restriction base = "xsd:string">
                                        <xsd:enumeration value="none"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="SequencingDirectivesType">
        <xsd:all>
            <xsd:element name="SAMPLE_DEMUX_DIRECTIVE" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Tells the Archive who will execute the sample demultiplexing operation..
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base = "xsd:string">                             
                        <xsd:enumeration value = "leave_as_pool">
                            <xsd:annotation>
                                <xsd:documentation>
                                    There shall be no sample de-multiplexing at the level of assiging individual reads to sample pool members.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value = "submitter_demultiplexed">
                            <xsd:annotation>
                                <xsd:documentation>
                                    The submitter has assigned individual reads to sample pool members by providing individual files 
                                    containing reads with the same member assignment.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>

                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    
    <xsd:complexType name="PipelineType">                           
        <xsd:sequence minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="PIPE_SECTION" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="STEP_INDEX"  type="xs:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Lexically ordered  value that allows for the pipe section to be hierarchically ordered.  The float primitive data type is
                                    used to allow for pipe sections to be inserted later on.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>       
                        <xsd:element name="PREV_STEP_INDEX"  type="xs:string" nillable="true" minOccurs="1" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>
                                    STEP_INDEX of the previous step in the workflow.  Set toNIL if the first pipe section.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>                          
                        <xsd:element name="PROGRAM"  type="xs:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Name of the program or process for primary analysis.   This may include a test or condition
                                    that leads to branching in the workflow.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="VERSION"  type="xs:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Version of the program or process for primary analysis. 
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="NOTES" type="xs:string" maxOccurs="1" minOccurs="0">                          
                            <xsd:annotation>
                                <xsd:documentation>
                                    Notes about the program or process for primary analysis. 
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="section_name" type="xs:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                Name of the processing pipeline section.
                            </xsd:documentation>
                        </xsd:annotation>
                        </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType> 
   

</xsd:schema>
