trunk/import_layer/src/main/resources/xsd/sra1.2/SRA.experiment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- INSDC Sequence Read Archive resource Experiment (SRX/ERX/DRX) object XML specification -->
<!-- $Id: SRA.experiment.xsd,v 1.1 2010/10/22 15:31:26 rasko Exp $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common">
<xs:import schemaLocation="SRA.common.xsd" namespace="SRA.common"/>

<xs:complexType name="ExperimentType">

              <xs:annotation>
                <xs:documentation>
                  An Experiment specifies of what will be sequenced and how the sequencing will be performed.  
                  It does not contain results.  
                  An Experiment is composed of a design, a platform selection, and processing parameters.
                </xs:documentation>
              </xs:annotation>  
        
                <xs:sequence >
                  <xs:element name="TITLE" type="xs:string" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>
                        Short text that can be used to call out experiment records in searches or in displays.
                        This element is technically optional but should be used for all new records.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="STUDY_REF" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>
                        The STUDY_REF descriptor establishes the relationship of the experiment to the parent
                        study.  This can either be the accession of an existing archived study record, or
                        a reference to a new study record in the same submission (which does not yet have an
                        accession).
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                       <xs:attributeGroup ref="com:RefNameGroup"/>
                    
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="DESIGN" maxOccurs="1" minOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="DESIGN_DESCRIPTION" type="xs:string">
                          <xs:annotation>
                          <xs:documentation>
                              More details about the setup and goals of the experiment as supplied by the Investigator.
                          </xs:documentation>
                          </xs:annotation>                                              
                        </xs:element>

 
                         
                        <xs:element name="SAMPLE_DESCRIPTOR" minOccurs="1" maxOccurs="1">
                          <xs:annotation>
                            <xs:documentation>
                              Pick a sample to associate this experiment with.  
                              The sample may be an individual or a pool, depending on how it is specified.
                            </xs:documentation>
                          </xs:annotation>  
                          <xs:complexType>
                              <xs:sequence>
                              <xs:element name="POOL" minOccurs="0" maxOccurs="1"> 
                                  <xs:annotation>
                                      <xs:documentation>
                                          Identifies a list of group/pool/multiplex sample members.  This implies that
                                          this sample record is a group, pool, or multiplex, but is continues to receive
                                          its own accession and can be referenced by an experiment.  By default if
                                          no match to any of the listed members can be determined, then the default
                                          sampel reference is used.
                                      </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                      <xs:sequence>
                                          <xs:element name="MEMBER" minOccurs="1" maxOccurs="unbounded">
                                              <xs:complexType>
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Impementation of lookup table between Sample Pool member and identified read_group_tags for a given READ_LABEL
                                                      </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                      <xs:element name='READ_LABEL'>
                                                          <xs:complexType>
                                                              <xs:simpleContent>
                                                                  <xs:extension base="xs:string">
                                                                      <xs:attribute name="read_group_tag" type="xs:string">
                                                                          <xs:annotation>
                                                                              <xs:documentation>
                                                                                  Assignment of read_group_tag to decoded read
                                                                              </xs:documentation>
                                                                          </xs:annotation>
                                                                      </xs:attribute>
                                                                  </xs:extension>
                                                              </xs:simpleContent>
                                                          </xs:complexType>
                                                              
                                                      </xs:element>
                                                      
                                                  </xs:sequence>
                                                  <xs:attributeGroup ref="com:RefNameGroup">
                                                      <xs:annotation>
                                                          <xs:documentation>
                                                              Reference to SRA sample
                                                          </xs:documentation>
                                                      </xs:annotation>
                                                  </xs:attributeGroup>
                                                 
                                                  <xs:attribute name="member_name" type="xs:string" use="optional">
                                                      <xs:annotation>
                                                          <xs:documentation>
                                                             Label a sample within a scope of the pool 
                                                          </xs:documentation>
                                                      </xs:annotation>
                                                  </xs:attribute>
                                                  <xs:attribute name="proportion" type="xs:float" use="optional">
                                                      <xs:annotation>
                                                          <xs:documentation>
                                                              Proportion of this sample (in percent) that was included in sample pool.
                                                          </xs:documentation>
                                                      </xs:annotation>
                                                  </xs:attribute>
                                              </xs:complexType>
                                              
                                          </xs:element>
                                      </xs:sequence>                              
                                  </xs:complexType>
                              </xs:element>                      
                              </xs:sequence>
                              <xs:attributeGroup ref="com:RefNameGroup"/>                  
                          </xs:complexType>
                        </xs:element>

                        <xs:element name="LIBRARY_DESCRIPTOR">
                          <xs:annotation>
                              <xs:documentation>
                                  The LIBRARY_DESCRIPTOR specifies the origin of the material being sequenced and any treatments that the 
                                  material might have undergone that affect the sequencing result.  This specification is needed even if the platform
                                  does not require a library construction step per se.
                              </xs:documentation>
                          </xs:annotation>  
                          <xs:complexType>
                              <xs:sequence>
                                  <xs:element name="LIBRARY_NAME" type="xs:string">
                                      <xs:annotation>
                                          <xs:documentation>
                                              The submitter's name for this library.
                                          </xs:documentation>
                                      </xs:annotation>  
                                  </xs:element>
                                  <xs:element name="LIBRARY_STRATEGY" maxOccurs="1" minOccurs="0">
                                      <xs:annotation>
                                          <xs:documentation>
                                              Sequencing technique intended for this library.
                                          </xs:documentation>
                                      </xs:annotation> 
                                      <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                              <xs:enumeration value="WGS">                                                                    
                                              <xs:annotation>
                                                  <xs:documentation>
                                                      Random sequencing of the whole genome.
                                                  </xs:documentation>
                                              </xs:annotation> 
                                              </xs:enumeration>    
                                              <xs:enumeration value="WXS">                                                                    
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Random sequencing of exonic regions selected from the genome.
                                                      </xs:documentation>
                                                  </xs:annotation> 
                                              </xs:enumeration>    
                                              <xs:enumeration value="RNA-Seq">                                                                    
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Random sequencing of whole transcriptome.
                                                      </xs:documentation>
                                                  </xs:annotation> 
                                              </xs:enumeration>    
                                              <xs:enumeration value="WCS" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Random sequencing of a whole chromosome or other replicon isolated from a genome.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>
                                              <xs:enumeration value="CLONE" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Genomic clone based (hierarchical) sequencing.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>
                                              <xs:enumeration value="POOLCLONE" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Shotgun of pooled clones (usually BACs and Fosmids).
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>
                                              <xs:enumeration value="AMPLICON" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                         Sequencing of overlapping or distinct PCR or RT-PCR products.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>
                                              <xs:enumeration value="BARCODE" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          DEPRECATED.  Sequencing of overlapping or distinct  products that have been
                                                          tagged with a short identifying sequence (barcode).  Each sequence read can
                                                          therefore be assigned to an individual product.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>
                                              <xs:enumeration value="CLONEEND" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Clone end (5', 3', or both) sequencing.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>
                                              <xs:enumeration value="FINISHING" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Sequencing intended to finish (close) gaps in existing coverage.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>
                                              <xs:enumeration value="ChIP-Seq">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Direct sequencing of chromatin immunoprecipitates.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                 
                                              </xs:enumeration>
                                              <xs:enumeration value="MNase-Seq">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Direct sequencing following MNase digestion.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                               
                                              </xs:enumeration>
                                              <xs:enumeration value="DNase-Hypersensitivity">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Sequencing of hypersensitive sites, or segments of open chromatin that are more readily cleaved by DNaseI.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                               
                                              </xs:enumeration>
                                              <xs:enumeration value="Bisulfite-Seq">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Sequencing following treatment of DNA with bisulfite to convert cytosine residues to uracil depending on methylation status.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                               
                                              </xs:enumeration>
                                              <xs:enumeration value="EST">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Single pass sequencing of cDNA templates
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                               
                                              </xs:enumeration> 
                                              <xs:enumeration value="FL-cDNA">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Full-length sequencing of cDNA templates
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                               
                                              </xs:enumeration>
                                              <xs:enumeration value="CTS">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Concatenated Tag Sequencing
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                               
                                              </xs:enumeration> 
                                              <xs:enumeration value="MRE-Seq">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Methylation-Sensitive Restriction Enzyme Sequencing strategy.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                               
                                              </xs:enumeration> 
                                              <xs:enumeration value="MeDIP-Seq">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Methylated DNA Immunoprecipitation Sequencing strategy.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                               
                                              </xs:enumeration>
                                              <xs:enumeration value="MBD-Seq">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Direct sequencing of methylated fractions sequencing strategy.
                                                      </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>     
                                              <xs:enumeration value="OTHER">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Library strategy not listed.
                                                      </xs:documentation>
                                                  </xs:annotation>                                                                                                                
                                              </xs:enumeration>
                                          </xs:restriction>
                                      </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="LIBRARY_SOURCE" >
                                      <xs:annotation>
                                          <xs:documentation>
                                              The LIBRARY_SOURCE specifies the type of source material that is being sequenced.
                                          </xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                              <xs:enumeration value="GENOMIC">
                                              <xs:annotation>
                                                  <xs:documentation>
                                                      Genomic DNA (includes PCR products from genomic DNA).
                                                  </xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="TRANSCRIPTOMIC" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Transcription products or non genomic DNA (EST, cDNA, RT-PCR, screened libraries).
                                                      </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration> 
                                              <xs:enumeration value="METAGENOMIC" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Mixed material from metagenome.
                                                      </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>                                                  
                                              <xs:enumeration value="NON GENOMIC" >
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Deprecated.  Use TRANSCRIPTOMIC or METAGENOMIC.
                                                      </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="SYNTHETIC">
                                              <xs:annotation>
                                                  <xs:documentation>
                                                      Synthetic DNA.
                                                  </xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="VIRAL RNA">
                                              <xs:annotation>
                                                  <xs:documentation>
                                                      Viral RNA.
                                                  </xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>                                                  
                                              <xs:enumeration value="OTHER">
                                              <xs:annotation>
                                                  <xs:documentation>
                                                      Other, unspecified, or unknown library source material.
                                                  </xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                          </xs:restriction>
                                      </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="LIBRARY_SELECTION">
                                      <xs:annotation>
                                          <xs:documentation>
                                              Whether any method was used to select for or against, enrich, or screen 
                                              the material being sequenced.     
                                          </xs:documentation>
                                      </xs:annotation> 
                                      <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                              <xs:enumeration value="RANDOM">
                                              <xs:annotation>
                                                  <xs:documentation>Random selection by shearing or other method.</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="PCR">
                                              <xs:annotation>
                                                  <xs:documentation>Source material was selected by designed primers.</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="RANDOM PCR">
                                              <xs:annotation>
                                                  <xs:documentation>Source material was selected by randomly generated primers.</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="RT-PCR">                    
                                              <xs:annotation>
                                                  <xs:documentation>Source material was selected by reverse transcription PCR</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="HMPR">
                                              <xs:annotation>
                                                  <xs:documentation>Hypo-methylated partial restriction digest</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="MF" >
                                              <xs:annotation>
                                                  <xs:documentation>Methyl Filtrated</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="CF-S">
                                              <xs:annotation>
                                                  <xs:documentation>Cot-filtered single/low-copy genomic DNA</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="CF-M">
                                              <xs:annotation>
                                                  <xs:documentation>Cot-filtered moderately repetitive genomic DNA</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="CF-H">
                                              <xs:annotation>
                                                  <xs:documentation>Cot-filtered highly repetitive genomic DNA</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="CF-T">
                                              <xs:annotation>
                                                  <xs:documentation>Cot-filtered theoretical single-copy genomic DNA</xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="MSLL">
                                                  <xs:annotation>
                                                      <xs:documentation>Methylation Spanning Linking Library</xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="cDNA">
                                                  <xs:annotation>
                                                      <xs:documentation>complementary DNA</xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>  
                                              <xs:enumeration value="ChIP">
                                                  <xs:annotation>
                                                      <xs:documentation>Chromatin immunoprecipitation</xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>
                                              <xs:enumeration value="MNase">
                                                  <xs:annotation>
                                                      <xs:documentation>Micrococcal Nuclease (MNase) digestion</xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>                                                               
                                              <xs:enumeration value="DNAse">
                                                  <xs:annotation>
                                                      <xs:documentation>Deoxyribonuclease (MNase) digestion</xs:documentation>
                                                  </xs:annotation>                                                                   
                                              </xs:enumeration>                                                               
                                              <xs:enumeration value="Hybrid Selection">
                                                  <xs:annotation>
                                                      <xs:documentation>Selection by hybridization in array or solution.</xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="Reduced Representation">
                                                  <xs:annotation>
                                                      <xs:documentation>Reproducible genomic subsets, often generated by restriction fragment size selection, 
                                                          containing a manageable number of loci to facilitate re-sampling.
                                                      </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>    
                                              <xs:enumeration value="Restriction Digest">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          DNA fractionation using restriction enzymes.
                                                      </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>     
                                              <xs:enumeration value="5-methylcytidine antibody">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Selection of methylated DNA fragments using an antibody raised against 5-methylcytosine or 5-methylcytidine (m5C).
                                                      </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>  
                                              <xs:enumeration value="MBD2 protein methyl-CpG binding domain">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Enrichment by methyl-CpG binding domain.
                                                      </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>    
                                              <xs:enumeration value="CAGE">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Cap-analysis gene expression. 
                                                      </xs:documentation>
                                                  </xs:annotation>   
                                              </xs:enumeration>
                                              <xs:enumeration value="RACE">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Rapid Amplification of cDNA Ends.  
                                                      </xs:documentation>
                                                  </xs:annotation>   
                                              </xs:enumeration>
                                              <xs:enumeration value="size fractionation">
                                                  <xs:annotation>
                                                      <xs:documentation>
                                                          Physical selection of size appropriate targets.
                                                      </xs:documentation>
                                                  </xs:annotation>   
                                              </xs:enumeration>
                                              <xs:enumeration value="other">  
                                              <xs:annotation>
                                                  <xs:documentation>
                                                      Other library enrichment, screening, or selection process.
                                                  </xs:documentation>
                                              </xs:annotation>   
                                              </xs:enumeration>                                                  
                                              <xs:enumeration value="unspecified">
                                              <xs:annotation>
                                                  <xs:documentation>
                                                      Library enrichment, screening, or selection is not specified.
                                                  </xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                          </xs:restriction>
                                      </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="LIBRARY_LAYOUT">
                                      <xs:annotation>
                                          <xs:documentation>
                                              LIBRARY_LAYOUT specifies whether to expect single, paired, or other configuration of reads.  
                                              In the case of paired reads, information about the relative distance and orientation is specified.
                                          </xs:documentation>
                                      </xs:annotation>                                                        
                                      <xs:complexType>
                                          <xs:choice>
                                              <xs:element name="SINGLE">
                                                <xs:complexType>
                                                 <xs:annotation>
                                                  <xs:documentation>
                                                    Reads are unpaired (usual case).
                                                  </xs:documentation>
                                                 </xs:annotation>                                                        
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="PAIRED">
                                                  <xs:complexType>
                                                    <xs:attribute name="ORIENTATION" type="xs:string">
                                                      <xs:annotation>
                                                        <xs:documentation>
                                                        </xs:documentation>
                                                      </xs:annotation>                                                        
                                                    </xs:attribute>
                                                    <xs:attribute name="NOMINAL_LENGTH" type="xs:nonNegativeInteger">
                                                      <xs:annotation>
                                                        <xs:documentation>
                                                        </xs:documentation>
                                                      </xs:annotation>                                                        
                                                    </xs:attribute>
                                                    <xs:attribute name="NOMINAL_SDEV" type="xs:double">
                                                      <xs:annotation>
                                                        <xs:documentation>
                                                        </xs:documentation>
                                                      </xs:annotation>                                                        
                                                    </xs:attribute>
                                                  </xs:complexType>
                                              </xs:element>
                                          </xs:choice>
                                      </xs:complexType>
                                  </xs:element>
                                  <xs:element name="TARGETED_LOCI" minOccurs="0" maxOccurs="1" >
                                      <xs:complexType>
                                          <xs:annotation>
                                              <xs:documentation>
                                                  Names the gene(s) or locus(loci) or other genomic feature(s) targeted by the sequence.
                                              </xs:documentation>
                                          </xs:annotation>
                                          <xs:sequence>
                                              <xs:element name="LOCUS" maxOccurs="unbounded" minOccurs="1">
                                                  <xs:complexType>
                                                      <xs:all>
                                                          <xs:element name="PROBE_SET"  type="com:XRefType">
                                                              <xs:annotation>
                                                                  <xs:documentation>
                                                                      Reference to an archived primer or probe set.  Example:  dbProbe
                                                                  </xs:documentation>
                                                              </xs:annotation>
                                                          </xs:element>
                                                      </xs:all>
                                                  <xs:attribute name="locus_name">
                                                      <xs:simpleType>
                                                          <xs:restriction base="xs:string">
                                                              <xs:enumeration value="16S rRNA">
                                                                  <xs:annotation>
                                                                      <xs:documentation>
                                                                          Bacterial ribosomal RNA hypervariable region(s).
                                                                      </xs:documentation>
                                                                  </xs:annotation>
                                                              </xs:enumeration>
                                                              <xs:enumeration value="exome">
                                                                  <xs:annotation>
                                                                      <xs:documentation>
                                                                          All exonic regions of the genome.
                                                                      </xs:documentation>
                                                                  </xs:annotation>
                                                              </xs:enumeration>
                                                              <xs:enumeration value="other">
                                                                  <xs:annotation>
                                                                      <xs:documentation>
                                                                          Other locus,  please describe.
                                                                      </xs:documentation>
                                                                  </xs:annotation>
                                                              </xs:enumeration>
                                                          </xs:restriction>
                                                      </xs:simpleType>
                                                  </xs:attribute>
                                                  <xs:attribute name="description" type="xs:string"></xs:attribute>
                                                  </xs:complexType>
                                              </xs:element>
                                             
                                          </xs:sequence>


                                      </xs:complexType>
                                  </xs:element>  
                                  <xs:element name="POOLING_STRATEGY" minOccurs="0" maxOccurs="1" >
                                      <xs:annotation>
                                          <xs:documentation>
                                              The optional pooling strategy indicates how the library or libraries are organized if multiple samples are involved.
                                          </xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                              <xs:enumeration value="none">
                                              <xs:annotation>
                                                  <xs:documentation>
                                                      There is a one-to-one correspondence with sample and library (normal case).
                                                  </xs:documentation>
                                              </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="simple pool" >                                            
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                      The sequencing is done on a pool of identified samples which cannot be distinguished in the sequencing result.
                                                  </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="multiplexed samples">                                            
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                      A library was prepared of multiplexed samples each of which can be distinguished in the sequencing result through a 
                                                      molecular barcode or other indicator.
                                                  </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="multiplexed libraries">                                            
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                      Multiple libraries were prepared each of which can be distinguished in the sequencing result through a 
                                                      molecular barcode or other indicator.  Each library may be made from the same or different samples.
                                                      This option is expected when the libraries are part of the same study.
                                                  </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>                                                               
                                              <xs:enumeration value="spiked library">                                            
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                      One library is prepared with an oligonucleotide sequence included that when sequenced can
                                                      help provide quality control for the library.
                                                  </xs:documentation>
                                                  </xs:annotation>
                                              </xs:enumeration>
                                              <xs:enumeration value="other"/>
                                          </xs:restriction>
                                      </xs:simpleType>
                                  </xs:element>                                 
                                  <xs:element name="LIBRARY_CONSTRUCTION_PROTOCOL" type="xs:string" minOccurs="0" maxOccurs="1">
                                      <xs:annotation>
                                          <xs:documentation>
                                              Free form text describing the protocol by which the sequencing library was constructed.                             
                                          </xs:documentation>
                                      </xs:annotation>                                                        
                                  </xs:element>
                              </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                          
                        <xs:element name="SPOT_DESCRIPTOR" type="com:SpotDescriptorType">
                              <xs:annotation>
                              <xs:documentation>
                                  The SPOT_DESCRIPTOR specifies how to decode the individual reads of interest from the 
                                  monolithic spot sequence.  The spot descriptor contains aspects of the experimental design, 
                                  platform, and processing information.  There will be two methods of specification: one 
                                  will be an index into a table of typical decodings, the other being an exact specification.                                      
                              </xs:documentation>
                              </xs:annotation>
                        </xs:element>



                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                    
                  <xs:element name="PLATFORM" type="com:PlatformType" maxOccurs="1" minOccurs="1">
                  <xs:annotation>
                    <xs:documentation>
                      The PLATFORM record selects which sequencing platform and platform-specific runtime parameters.  
                      This will be determined by the Center.
                    </xs:documentation>
                  </xs:annotation> 
                  </xs:element>
                    
                    <xs:element name="PROCESSING" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BASE_CALLS" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:annotation>
                                        <xs:documentation>
                                            DEPRECATED.  THis is instead a static property of the platform.  Basecalling software and version will be called out in
                                            new branch PIPELINE.
                                        </xs:documentation>
                                    </xs:annotation> 
                                    <xs:all>
                                        <xs:element name="SEQUENCE_SPACE">
                                            <xs:simpleType>
                                                <xs:restriction base = "xs:string">
                                                    <xs:enumeration value = "Base Space"/>
                                                    <xs:enumeration value = "Color Space"/>
                                                </xs:restriction>                                   
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="BASE_CALLER" maxOccurs="1" minOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Name and version of the base or color calling software.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="QUALITY_SCORES" maxOccurs="unbounded" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        DEPRECATED.  THis is instead a  property of the run to load.  Basecalling software and version will be called out in
                                        new branch PIPELINE.
                                    </xs:documentation>
                                </xs:annotation>                   
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="QUALITY_SCORER" maxOccurs="1" minOccurs="1" type="xs:string">              
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Name and version of the quality scoring software.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="NUMBER_OF_LEVELS" maxOccurs="1" minOccurs="0" type="xs:int">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    DEPRECATED.  Number of distinct values possible with this scoring system.
                                                </xs:documentation>
                                            </xs:annotation>     
                                        </xs:element>
                                        <xs:element name="MULTIPLIER" maxOccurs="1" minOccurs="0" type="xs:double">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    DEPRECATED.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute name="qtype" use="optional">
                                        <xs:simpleType>
                                            <xs:restriction base = "xs:string">                             
                                                <xs:enumeration value = "phred">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            The quality score is expressed as a probability of error in log form:
                                                            -10 log(1/p) where p is the probability of error, with value range 0..63,
                                                            0 meaning no base call.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value = "other">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Another quality scoring system is used.  Please contact NCBI with details so that correct conversion can take place.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                                                       
                            <xs:element name="PIPELINE" type="com:PipelineType" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Generic processing pipeline specification.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            
                            <xs:element name="DIRECTIVES" type="com:SequencingDirectivesType" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Processing directives tell the Sequence Read Archive how to treat the input data, if any treatment is requested.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            
                        </xs:sequence>
                    </xs:complexType>
                 </xs:element>

	     <xs:element name="EXPERIMENT_LINKS" minOccurs="0" maxOccurs="1">
		  <xs:annotation>
		      <xs:documentation>
			  Links to resources related to this experiment or experiment set (publication, datasets, online databases).
		      </xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
		    <xs:sequence minOccurs="1" maxOccurs="unbounded">
		      <xs:element name="EXPERIMENT_LINK" type="com:LinkType"/>
		    </xs:sequence>
		  </xs:complexType>
	        </xs:element>
       
                    <xs:element name="EXPERIMENT_ATTRIBUTES" minOccurs="0" maxOccurs="1">
               	  <xs:annotation>
                    <xs:documentation>
                       Properties and attributes of the experiment.  These can be entered as free-form 
                       tag-value pairs. 
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                      <xs:element name="EXPERIMENT_ATTRIBUTE" type="com:AttributeType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                </xs:sequence>
        <xs:attributeGroup ref="com:NameGroup"/>
        
              <xs:attribute name="expected_number_runs" use="optional" type="xs:positiveInteger">
                <xs:annotation>
                  <xs:documentation>
                     Number of runs expected to be submitted  for this experiment. 
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="expected_number_spots" use="optional" type="xs:positiveInteger">
                  <xs:annotation>
                     <xs:documentation>
                       DEPRECATED. Number of spots expected to be submitted  for this experiment. 
                     </xs:documentation>
                  </xs:annotation>
              </xs:attribute>
              <xs:attribute name="expected_number_reads" use="optional" type="xs:positiveInteger">
                  <xs:annotation>
                    <xs:documentation>
                      DEPRECATED. Number of reads expected to be submitted  for this experiment. 
                    </xs:documentation>
                  </xs:annotation>
              </xs:attribute>

</xs:complexType>
 
    <xs:complexType name="ExperimentSetType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="EXPERIMENT" type="ExperimentType"/>        
        </xs:sequence>
    </xs:complexType>
    
<xs:element name="EXPERIMENT_SET" type="ExperimentSetType">
  <xs:annotation>
    <xs:documentation>
      An EXPERMENT_SET is a container for a set of experiments and a common namespace.
    </xs:documentation>
  </xs:annotation>  

</xs:element> 
 
<xs:element name="EXPERIMENT" type="ExperimentType"/>        

</xs:schema>
