trunk/import_layer/src/main/resources/xsd/sra1.2/SRA.analysis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- INSDC Sequence Read Archive resource Analysis (SRZ/ERZ/DRZ) object XML specification -->
<!-- $Id: SRA.analysis.xsd,v 1.1 2010/10/22 15:31:26 rasko Exp $ -->
<xs:schema xmlns:com="SRA.common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="SRA.common" schemaLocation="SRA.common.xsd"/>
  
  <xs:complexType name="AnalysisFileType">
  
    <xs:attribute name="filename" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The name or relative pathname of an analysis file.  The actual file name extension is irrelevant
                so long as the filetype is correctly indicated, and in the case of binary files the correct magic
                number is embedded in the file.
              </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="filetype" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ace">
            <xs:annotation>
              <xs:documentation>
                      Multiple alignment file output from the phred assembler and similar programs.
                      See http://www.phrap.org/consed/distributions/README.16.0.txt for a description of the ACE file format. 
                    </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="tab">
            <xs:annotation>
              <xs:documentation>
                      A tab delimited text file that can be viewed as a spreadsheet.  The first line should contain
                      column headers.
                    </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="bam">
            <xs:annotation>
              <xs:documentation>
                      Binary form of the Sequence alignment/map format for read placements, from the SAM tools project.
                      See http://sourceforge.net/projects/samtools/
                    </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="fasta">
            <xs:annotation>
              <xs:documentation>
                      Sequence data format indicating sequence base calls.
                      The format is simple: a header line initiated with the &gt; character,
                      data lines following with base calls. 
                    </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="wig">
            <xs:annotation>
              <xs:documentation>
                      The wiggle (WIG) format allows display of continuous-valued data in track format. 
                      This display type is useful for GC percent, probability scores, and transcriptome data. 
                      See http://genome.ucsc.edu/goldenPath/help/wiggle.html for a description of the Wiggle Track format. 
                    </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="bed">
            <xs:annotation>
              <xs:documentation>
                      BED format provides a flexible way to define the data lines that are displayed in an annotation track.
                      See http://genome.ucsc.edu/FAQ/FAQformat#format1 for a description of the BED format. 
                    </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="checksum_method" use="required">
      <xs:annotation>
        <xs:documentation>
                Checksum method used.
              </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MD5">
            <xs:annotation>
              <xs:documentation>
                      Checksum generated by the MD5 method (md5sum in unix). 
                    </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="checksum" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
                Checksum of the file.
              </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
    
  <xs:complexType name="AlignmentDirectivesType">
    <xs:all>
      <xs:element name="alignment_includes_unaligned_reads" type="xs:boolean"  minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Whether the reference alignment includes unaligned reads.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alignment_marks_duplicate_reads"  type="xs:boolean" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              Whether the reference alignment identifies reads that appear to be duplicates.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
     <xs:element name="alignment_includes_failed_reads" type="xs:boolean" minOccurs="1" maxOccurs="1">
      <xs:annotation>
        <xs:documentation>
          Whether the reference alignment includes all reads regardless of whether they fail the instrument vendor's quality check.
        </xs:documentation>
      </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="DefaultProcessingType">
    <xs:annotation>
      <xs:documentation>
        Identify the tools and processing steps used to produce the de novo assembly.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="PIPELINE" type="com:PipelineType"/>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="AlignmentProcessingType">
    <xs:annotation>
      <xs:documentation>
        Identify the tools and processing steps used to produce the reference alignment.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="PIPELINE" type="com:PipelineType"/>
      <xs:element name="DIRECTIVES" type="AlignmentDirectivesType" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="AnalysisType">
    <xs:annotation>
      <xs:documentation>
      A SRA analysis object captures secondary analysis results from a sequence read dataset.
      This analysis can the results of short reads used in assembly, alignment, 
      abundance instrumentation.  The analysis can also be a list of reads, or
      a fasta file of trimmed reads associated with the experiment.  The analysis
      can be technical data represented in a tab separated file (spreadsheet).  
    </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="TITLE" type="xs:string">
        <xs:annotation>
          <xs:documentation>
           Title of the analyis object which will be displayed in short form in the Analysis browser
           and in database search results.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="STUDY_REF">
        <xs:annotation>
          <xs:documentation>
          The STUDY_REF descriptor establishes the relationship of the analysis to the parent
          study.  This can either be the accession of an existing archived study record, or
          a reference to a new study record in the same submission  or same center (which does not yet have an accession).
        </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="com:RefNameGroup"/>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="DESCRIPTION" type="xs:string">
        <xs:annotation>
          <xs:documentation>
          Describes the contents of the analysis objects, their relationship
          with one another, the target objects, and their place in
          the overall study.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="ANALYSIS_TYPE">
        <xs:annotation>
          <xs:documentation>
          Supported analysis types.
        </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="DE_NOVO_ASSEMBLY">
              <xs:annotation>
                <xs:documentation>
                A placement of sequences including trace, SRA, GI records into a multiple alignment from which
                a consensus is computed.   This branch will be further specified in the future.
              </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PROCESSING"  maxOccurs="1" minOccurs="1" type="DefaultProcessingType">
                    <xs:annotation>
                      <xs:documentation>
                        Identify the tools and processing steps used to produce the de novo assembly.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="REFERENCE_ALIGNMENT">
              <xs:annotation>
                <xs:documentation>
                A multiple alignment of short reads against a reference substrate.
              </xs:documentation>
              </xs:annotation>
              <xs:complexType>
               
                  <xs:sequence>
                    <xs:element name="ASSEMBLY">
                      <xs:annotation>
                        <xs:documentation>
                      Specification of the reference collection of sequences used in the alignment. 
                    </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:choice>
                          
                          <xs:element name="STANDARD">
                            <xs:annotation>
                              <xs:documentation>
                          Short name for the standard reference assembly used in the alignment.  This should resolve into community accepted collection of reference sequences.
                        </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NAME" minOccurs="0" maxOccurs="unbounded" type="com:XRefType">
                                  <xs:annotation>
                                    <xs:documentation>Synonym Names additional to or in place of short_name. For example genbank, gecoll accession.version.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="short_name" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation>
                                    Short name for standard reference assembly.  The Home Archive shall 
                                    implement further business rules governing the usage of short_name in conjunction with or in lieu of explicit references.
                                  </xs:documentation>
                                </xs:annotation>
  
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CUSTOM">
                            <xs:annotation>
                              <xs:documentation>
                                A list of ad-hoc reference sequences identified by database link.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name='DESCRIPTION' type="xs:string" minOccurs="0" maxOccurs="1">
                                  <xs:annotation> 
                                    <xs:documentation> Description of how the reference assembly was obtained especially when it is a derivative of existing standards</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                
                                  <xs:element name="REFERENCE_SOURCE" type="com:LinkType" minOccurs="1" maxOccurs="unbounded">
                                    <xs:annotation>
                                      <xs:documentation>
                                        A pointer to reference sequences using one of the Link mechanisms.
                                      </xs:documentation>
                                    </xs:annotation>
                                  </xs:element>

                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RUN_LABELS" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Mapping between the run (read group) labels used in the alignment data file, and the runs
                          in the Archive.  This is optional when SRA runs are reffered by accession in submitted data.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="RUN" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>RUNs which are labeled by SRA Accession are optional in the list</xs:documentation>
                              </xs:annotation>
                                 <xs:attributeGroup ref="com:RefNameGroup">
                                   <xs:annotation>
                                     <xs:documentation>Identifies an SRA Run either by SRA Accession or by refname+refcenter</xs:documentation>
                                   </xs:annotation>
                                 </xs:attributeGroup>
                               
                                   <xs:attribute name="data_block_name" use="optional">
                                     <xs:annotation><xs:documentation>
                                       An optional attrtibute matching DATA_BLOCK/@name for a particular data file. 
                                       This is only needed when the same SRA RUN has different labeling in the submission.
                                     </xs:documentation></xs:annotation>
                                   </xs:attribute>
                                  <xs:attribute name="read_group_label" use="optional">
                                    <xs:annotation><xs:documentation> This is how SRA run is labeled in submission file(s). 
                                    It is equivalent to read group (RG) labeling in BAM. Optional when submitted file use SRA accessions as labels </xs:documentation>
                                    </xs:annotation>
                                  </xs:attribute>
                             
                             
                              
                            </xs:complexType>
                            
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SEQ_LABELS" minOccurs="0" maxOccurs="1">
                      
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Mapping between the reference (sequence dictionary) labels used in the alignment data file, and the reference sequences
                            in the Archive.  The whole element is optional when Sequences  are referenced by accession.version in submitted data.</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="SEQUENCE">
                            <xs:annotation>
                              <xs:documentation>Sequences which are labeled by Accession.version are optional in the list</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="accession" type="xs:token" use="required">
                                <xs:annotation>
                                  <xs:documentation>  Accession.version with version being mandatory
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="gi" type="xs:integer" use="optional">
                                <xs:annotation>
                                  <xs:documentation>  NCBI - assigned gi
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              
                              <xs:attribute name="data_block_name" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation>
                                  An optional attrtibute matching DATA_BLOCK/@name for a particular data file. 
                                  This is only needed when the same reference sequence has different labeling in the submission.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="seq_label" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation> This is how Reference Sequence is labeled in submission file(s). 
                                  It is equivalent to  SQ label in BAM. 
                                  Optional when submitted file uses INSDC accession.version</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
 
                    <xs:element name="PROCESSING"  maxOccurs="1" minOccurs="1" type="AlignmentProcessingType">
                      <xs:annotation>
                        <xs:documentation>
                          Identify the tools and processing steps used to produce the reference alignment, and specify
                          directives used to load and interpret the data supplied by the submitter.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    
                  </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="SEQUENCE_ANNOTATION">
              <xs:annotation>
                <xs:documentation>
              Per sequence annotation of named attributes and values.
              Example: Processed sequencing data for submission to dbEST without assembly.
              Reads have already been submitted to one of the sequence read archives in raw form.
              The fasta data submitted under this analysis object result from the following
              treatments, which may serve to filter reads from the raw dataset:
              - sequencing adapter removal
              - low quality trimming
              - poly-A tail removal
              - strand orientation 
              - contaminant removal
              This branch will be further specified in the future.
            </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PROCESSING"  maxOccurs="1" minOccurs="1" type="DefaultProcessingType">
                    <xs:annotation>
                      <xs:documentation>
                        Identify the tools and processing steps used to produce the sequence annotations.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ABUNDANCE_MEASUREMENT">
              <xs:annotation>
                <xs:documentation>
                A track of read placement coverage used to measure abundance of a library with respect to a reference.
                This branch will be further specified in the future.
              </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PROCESSING"  maxOccurs="1" minOccurs="1" type="DefaultProcessingType">
                    <xs:annotation>
                      <xs:documentation>
                        Identify the tools and processing steps used to produce the abundance measurements (coverage tracks).
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="TARGETS" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
           SRA object(s) targeted for analysis.  
           Run - One or more runs that are assembled, aligned, or analyzed.
           Sample - All the sequencing data for this sample are being assembled, aligned, or analyzed.
           Experiment - All the sequencing data for this experiment are being assembled, aligned, or analyzed.
           Study - All the sequencing data for this study are being assembled, aligned, or analyzed.
          </xs:documentation>
        </xs:annotation>
        
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="TARGET"  type='com:SraLinkType'>
              <xs:annotation>
                <xs:documentation>
                  A SRA object that is the target of the analysis records.  For example, a run, sample, or sequence can be the 
                  object of the analysis.
                </xs:documentation>
              </xs:annotation>          
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
 
 
          <xs:sequence maxOccurs="unbounded" minOccurs="1">
              <xs:element name="DATA_BLOCK">
                <xs:annotation>
                  <xs:documentation>
                    One or more blocks of data and associated file(s).  Each data block may be a partition of the overall
                    analysis object. 
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                <xs:element name="FILES">
                  <xs:annotation>
                    <xs:documentation> Actual run data are contained in one of the files listed in the submission manifest. 
                      Each data block is represented by one SRF file, one SFF file, one compressed fastq file, 
                      or one compressed tar archive file.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>

                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="FILE" type="AnalysisFileType"></xs:element>
                  </xs:sequence>

                  </xs:complexType>
                </xs:element>
                  </xs:all>
                    <xs:attribute name="name" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation>Data block name, for use in mapping multiple analysis files to a single analysis object.
                        This attribute is not needed if there is only one analysis file loaded for the analysis object. 
                        </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
              
                <xs:attribute name="serial" type="xs:integer" use="optional">
                  <xs:annotation>
                    <xs:documentation>Specifies the order in which analysis files should be loaded, if needed.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                  
                <xs:attribute name="member" type="xs:string" use="optional">
                  <xs:annotation>
                    <xs:documentation>Member name of the fraction of the analysis file that should be loaded for this data block.
                    Used for sample multiplexed studies where the analysis data has been demultiplexed by the submitter.
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                  </xs:complexType>
              </xs:element>
          </xs:sequence>

      <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_LINKS">
        <xs:annotation>
          <xs:documentation>
                  Links to resources related to this analysis or analysis set (publication, datasets, online databases).
                </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="ANALYSIS_LINK" type="com:LinkType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_ATTRIBUTES">
        <xs:annotation>
          <xs:documentation>
               Properties and attributes of an analysis.  These can be entered as free-form 
               tag-value pairs. For certain studies, submitters may be asked to follow a
               community established ontology when describing the work.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="ANALYSIS_ATTRIBUTE" type="com:AttributeType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="com:NameGroup"/>
    <xs:attribute name="analysis_center" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
        Use SRA center_name.  If applicable, the center name of the institution responsible for this analysis.
      </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="analysis_date" type="xs:dateTime" use="optional">
      <xs:annotation>
        <xs:documentation>
          The ISO date when this analysis was produced.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AnalysisSetType">
    <xs:sequence maxOccurs="unbounded" minOccurs="1">
      <xs:element name="ANALYSIS" type="AnalysisType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ANALYSIS_SET" type="AnalysisSetType">
    <xs:annotation>
      <xs:documentation>
      An ANALYSIS_SET is a container of analysis objects with a shared namespace. 
    </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ANALYSIS" type="AnalysisType"/>
</xs:schema>
