trunk/import_layer/src/test/resources/sra_old/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- NCBI Short Read Archive resource Sample (SRS) object XML specification -->
<!-- $Id: sample.xsd 12602 2010-06-04 15:50:39Z brandizi $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="SampleType">
        <xs:annotation>
            <xs:documentation>
                A Sample defines an isolate of sequenceable material upon which
                sequencing experiments can be based. The Sample object may be a surrogate for taxonomy
                accession or an anonymized individual identifier. Or, it may fully specify
                provenance and isolation method of the starting material.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SAMPLE_NAME">
                <xs:complexType>
                    <xs:all minOccurs="1">
                        <xs:element name="TAXON_ID" minOccurs="0" maxOccurs="1" type="xs:int">
                            <xs:annotation>
                                <xs:documentation>
                                    NCBI Taxonomy Identifier. This is appropriate for individual organisms and
                                    some environmental samples.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="COMMON_NAME" minOccurs="0" maxOccurs="1" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Common name of sample that might be used in publication or other communications,
                                    or will be relevant and distinct within any study that refers to this sample.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ANONYMIZED_NAME" minOccurs="0" maxOccurs="1" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Anonymous public name of the sample.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Free-form text describing the sample, its origin, and its method of isolation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MEMBERS" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Identifies a list of group/pool/multiplex sample members. This implies that
                        this sample record is a group, pool, or multiplex, but is continues to receive
                        its own accession and can be referenced by an experiment.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence minOccurs="1" maxOccurs="unbounded">
                        <xs:element name="MEMBER">
                            <xs:complexType>
                                <xs:attribute name="sample_ref" type="xs:string" use="optional">
                                    <xs:annotation>
                                        <xs:documentation>
                                            Sample identified within the namespace of the submission.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="sample_id" type="xs:string" use="optional">
                                    <xs:annotation>
                                        <xs:documentation>
                                            Sample identified by its global SRS accession.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="barcode_seqence" type="xs:string" use="required">
                                    <xs:annotation>
                                        <xs:documentation>
                                            Bar code sequence used to map the read to its individual sample.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SAMPLE_LINKS" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Links to resources related to this sample or sample set (publication, datasets, online
                        databases).
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence minOccurs="1" maxOccurs="unbounded">
                        <xs:element name="SAMPLE_LINK">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="URL_LINK">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="LABEL" type="xs:string" minOccurs="1" maxOccurs="1">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Text label to display for the link.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="URL" minOccurs="1" maxOccurs="1" type="xs:anyURI">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            The internet service link (file:, http:, ftp:, etc).
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="ENTREZ_LINK">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Short name of the NCBI database resource (e.g. pubmed).
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Accession to the record of interest in the NCBI Entrez
                                                            system.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SAMPLE_ATTRIBUTES" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Properties and attributes of a sample. These can be entered as free-form
                        tag-value pairs. For certain studies, submitters may be asked to follow a
                        community established ontology when describing the work.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element name="SAMPLE_ATTRIBUTE">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="TAG" type="xs:string" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Name of the attribute.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Value of the attribute.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="UNITS" type="xs:string" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Optional scientific units.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="alias" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Submission name of the sample. This field is only needed if the study
                    record does not yet have an accession and needs to be referenced by other objects.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    NCBI sample accession supplied when known. This is used when
                    performing certain update functions.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:element name="SAMPLE_SET">
        <xs:annotation>
            <xs:documentation>
                SAMPLE_SET serves as a container for a set of samples and a name space
                for establishing referential integrity between them.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="SAMPLE" type="SampleType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SAMPLE" type="SampleType"/>

</xs:schema>
